body {
  background: #eee;
  padding: 70px 0 120px 0;
}

/*************** NAV BAR ***************/
.navbar-main {
  height: 60px;
}
.car-logo {
  height: 40px;
  width: auto;
  margin-top: 5px;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-fixed-top {
  background: #024;
}

#active {
  background: #FB4F14;
  color: #fff;
}

#active a, #inactive a {
  font-size: 20px;
  color: #fff;
  height: 60px;
}

#bs-example-navbar-collapse-1 {
  float: right;
}

.page_header {
  font-family: 'Chewy', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
  letter-spacing: 3px;
  color: #fff;
  text-shadow:  -1px -2px 0 #fb4f14,
                1px -2px 0 #fb4f14,
                -1px 2px 0 #fb4f14,
                1px 2px 0 #fb4f14;
}

/*************** PAGE SUB TITLE ***************/
.subtitle-caption {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 7px 0;
  margin: 60px 0;
}

.page-sub-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #024;
  font-size: 35px;
}

/*************** HOME PAGE: BLIMP IMAGE ***************/
.driveway_scene {
  max-width: 600px;
  margin: 10px 0 40px 0;
  padding: 20px 30px;
}

.driveway_scene img {
  width: 100%;
  height: auto;
  max-height: 300px;
  max-width: 600px;
}

/*************** RENT AND FIND BOXES ***************/
.caption {
  border: 5px solid #024;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thumbnail {
  border: 2px solid #024;
  background: #fb4f14;
}
/*************** TEAM LOGOS & STADIUM ***************/
.team_logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.team_logos img {
  width: 100%;
  height: auto;
  max-width: 150px;
  padding: 10px 0;
}

.stadium_div {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}
.stadium {
  width: 100%;
  height: auto;
  max-height: 300px;
  max-width: 600px;
  border: 4px solid #fb4f14;
}

/*************** GOOGLE MAPS ***************/
#map {
  width: 600px;
  height: 300px;
  background-color: grey;
  margin: 15px auto;
  border: 3px solid #333;
}

/*************** MATCHUP LOGOS ***************/
.resetAndMatchup img {
  width: 150px;
  height: auto;
}

/*************** LOCATION LIST ***************/
.location_list h3 {
  text-decoration: underline;
  text-align: center;
}

.event {
  font-size: 30px;
}

.event, .event-select, .reset {
  display: table;
  margin: auto;

}

.location_list section {
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px auto;
  background: #f3fff0;
  font-size: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}

.emailOwner {
  font-size: 15px;
  height: 42px;
  widgth: 99px;
  color: #fff;
  background: #178000;
}

/*************** REGISTRATION FORM ***************/
.alert {
  display: none;
  margin-top: 15px;
  width: 375px;
}
