body {
  background: #f5fff0;
  padding: 70px 0;
}

/*************** NAV BAR ***************/
.car-logo {
  height: 40px;
  width: auto;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-fixed-top {
  background: #b8ff94;
}

/*************** PAGE TITLES ***************/
.page-header {
  font-family: 'Chewy', cursive;
  font-size: 75px;
}

.page-sub-header {
  font-family: 'Montserrat', sans-serif;
}

/*************** HOME PAGE: BLIMP IMAGE ***************/


/*************** RENT AND FIND BOXES ***************/
.rent-or-find {
  display: flex;
  flex-direction: column;
  align-content: center;
}
